modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 25958
externalPort = 3000

[userenv]

[userenv.shared]
TELEGRAM_CLIENT_BOT_TOKEN = "8642789067:AAG2xvaZAuS88a4kW63XMrIfKnhEl-zoGJM"
TELEGRAM_SUPPORT_BOT_TOKEN = "8885557328:AAEc4PuOpEpaQc6RVsikn1yfwxL3RsCtXEE"
TELEGRAM_SUPPORT_ADMIN_CHAT_IDS = "7565191469"

[nix]
channel = "stable-25_05"
